html, body {
    margin: 0px;
    padding: 0px;
}

#camera, #camera-view, #camera-device, #photo-display {
    position: fixed;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#camera-view, #camera-device, #photo-display {
    transform: scaleX(-1);
}

#take-photo-button {
    position: fixed;
    bottom: 30px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: 3px solid red;
    padding: 15px 20px;
    text-align: center;
    left: calc(50% - 150px);
}

#front-camera-button {
    position: fixed;
    bottom: 80px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: 3px solid red;
    padding: 15px 20px;
    text-align: center;
    left: calc(50% - 150px);
}

.photo-taken {
    height: 100px!important;
    width: 100px!important;
    top: 20px;
    right: 20px;
}
